name: flatpak

on: workflow_dispatch

jobs:
  flatpak:
    name: "Flatpak"
    runs-on: ubuntu-latest
    container:
      image: bilelmoussaoui/flatpak-github-actions:kde-5.15-23.08
      options: --privileged
    steps:
      - uses: actions/checkout@v4
      - uses: flatpak/flatpak-github-actions/flatpak-builder@v6
        with:
          bundle: mod-desktop.flatpak
          manifest-path: flatpak/audio.mod.mod-desktop.yaml
          cache-key: flatpak-builder-${{ github.sha }}
